{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/registermhs.css' %}">
	<title>Register Donatur</title>
</head>

<div class="container" style="margin-bottom: 50px; margin-top: 30px; width: 50%;">
    <h1>Register as Donatur</h1>
    <p>You can create an account as Donatur Yayasan or Donatur Individu.</p>
    <hr>
    <div class="row">
        <div class="col">
            <a href="registerdonatur/yayasan/" class="btn btn-primary signupbtn btn-lg" role="button"><b>DONATUR YAYASAN</b></a>
        </div>
        
        <div class="col">
            <a href="registerdonatur/individu/" class="btn btn-primary signupbtn btn-lg" role="button"><b>DONATUR INDIVIDU</b></a>

        </div>
    </div>

</div>
  

</form>

{% endblock %}
