{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/registermhs.css' %}">
	<title>Register Donatur</title>
</head>

<form action="action_page.php" style="margin-left: 350px; margin-right: 450px; margin-top: 30px;">
  <div class="container">
    <h1>Register as Donatur Yayasan</h1>
    <p>Please fill in this form to create an account as Donatur Yayasan.</p>
    <span style="color: red">*Required</span>
    <hr>

    <label for="username"><b>Username<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password<span style="color: red"> *</span></b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password<span style="color: red"> *</span></b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <label for="identitas"><b>Nomor Identitas<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter ID Number" name="identitas" required>

    <label for="sk"><b>Nomor SK Yayasan<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Foundation Number" name="sk" required>

    <label for="email"><b>Email<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="nama"><b>Nama Yayasan<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Foundation Name" name="nama" required>

    <label for="nomor"><b>Nomor Telepon CP</b></label>
    <input type="text" placeholder="Enter Phone Number" name="nomor">

    <label for="npwp"><b>NPWP<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Account Number" name="npwp" required>

    <label for="alamat"><b>Alamat Yayasan<span style="color: red"> *</span></b></label>
    <input type="text" placeholder="Enter Address" name="alamat" required>

    <div class="clearfix">
      <button type="submit" class="signupbtn btn-primary">CREATE ACCOUNT</button>
    </div>
 </div>

 <div class="container" style="margin-bottom: 50px;" >
	<span style="float: right;">Already have an account?
	   <a class="btn navbar-btn ml-2 text-white btn-secondary" href='/login/'>
	   <i class="fa d-inline fa-lg fa-user-circle-o"></i>&nbsp;Login</a>
	</span>
 </div>

</form>

{% endblock %}
