{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
  
</head>

<body>

    <div class="py-5 text-center" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-3 mb-4 text-primary">SIMBION</h1>
            <p class="lead mb-5">SIMBION adalah Sistem Informasi Beasiswa Online untuk memudahkan mahasiswa mencari dan mendaftar beasiswa. SIMBION juga membantu para Donatur untuk mendaftarkan beasiswa.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">
              <h1 class="">Beasiswa Fullbright</h1>
              <p class="lead">[Jenis Skema Beasiswa] dibuat oleh [nomor_identitas_donatur]
                <br>[Ini adalah deskripsi, hanya terdiri dari 50 karakter saja. Tidak usah banyak banyak, hanya menjelaskan beasiswa tersebut]
                <br>Syarat Beasiswa : [syarat] </p>
              <a class="btn btn-primary" href="#">Daftar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>

{% endblock %}