{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<title>Login</title>
</head>

<body>
	<form style= "margin-left: 500px; margin-right: 500px; margin-bottom: 80px; margin-top: 30px;" action="action_page.php">
	  <!-- <div class="imgcontainer">
	    <img src="img_avatar2.png" alt="Avatar" class="avatar">
	  </div> -->

	  <div class="container">
	  	<h1>Login</h1>
	  	<hr>

	    <label for="uname"><b>Username</b></label>
	    <input type="text" placeholder="Enter Username" name="uname" required>

	    <label for="psw"><b>Password</b></label>
	    <input type="password" placeholder="Enter Password" name="psw" required>

	    <button class="btn btn-primary" type="submit"><b>LOGIN</b></button>
	    
	  </div>

	  <div class="container" >
	    <span style="padding-left: 100px;">New to Simbion?
		    <div class="btn-group psw">
			  <button type="button" style="background-color: #3E517A" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Register
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" href="/registermahasiswa/">Mahasiwa</a>
			    <a class="dropdown-item" href="/registerdonatur/">Donatur</a>
			  </div>
			</div>
		</span>
	  </div>
	</form>
</body>


{% endblock %}
